iframe{
   border: 0px;
   width: 0px;
   height: 0px;
}

#grid-view-table {
    margin:auto;
    border-collapse: collapse;
    border-spacing: 0px;
    margin-top:0px;
    min-width: 704px;
}

#grid-view-table td {
    width:64px;
    height:64px;
    padding:0px;
}

#grid-view-table img {
    width:64px;
    height:64px;
    left:0;
    top:0;
    position:relative;
}

.box {
	position: relative;
	top:0px;
	outline:0;
}

.inner-box {
	position: absolute;
	top: 0px;
	left: 0px;
}

.news-feed{
    font-weight:bold;
    padding-left:10px;
    padding-top:8px;
}

#buttons-2{
    font-weight:bold;
    padding-left:10px;
    padding-top:8px;
}

#body{
	margin-top:0px;
}

.news-feed-body{
	padding:10px;
	
}

@media(max-width: 480px) {

    .content {
        width:100%;
        margin-left: -8px;
        margin-right: -8px;
    }

    .body {
        width:100%;
    }

    .inner-row {
        display:none;
    }

    .inner-col {
        display:none;
    }

    #grid-view-table {
        min-width: 320px;
    }
}

@media(max-width: 800px) {

    .content {
        width:100%;
    }

    .body {
        width:100%;
    }

    .outer-row {
        display:none;
    }

    .outer-col {
        display:none;
    }

    #grid-view-table {
        min-width: 320px;
    }
}

@media(max-width: 1024px) {

    .content {
        width:100%;
    }

    .body {
        width:100%;
    }

    .outest-row {
        display:none;
    }

    .outest-col {
        display:none;
    }

    #grid-view-table {
        min-width: 320px;
    }
}