@charset "utf-8";
/* CSS Document */

header{
    height:50px;
    margin:-8px -8px 15px;
    background-image:linear-gradient(to bottom, #3b3b3b 0px, #242424 100%);
}

#gHeader{
	margin:-24px -8px 15px;
}

.nav-bar-container{
    height:50px;
    width:80%;
    max-width:900px;
    margin:auto;
    color:#CCC;
}

.nav-bar-container a, a:visited{
	color: #CCC;
	text-decoration: none;
}

.nav-bar-container a:hover{
	color: #FFF;
}

.logo{
    height:50px;
    float:left;
    font-size:20px;
    padding-top:13px;
}

.nav-bar {
    height:50px;
    float:right;
    font-size:14px;
    padding-right:2px;
}

.nav-bar-tabs li {
    list-style:none;
    display:inline;
    padding:0px 7px 0px 7px;
    }

body{
    /*background-color: #f9f9ec;*/
    font-family:"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size:12px;
}

.content{
    width:60%;
    max-width:900px;
    margin:auto;
}

#twitter{
	margin-top:10px;
}

@media screen and (max-width: 400px) {

    .nav-bar-container {
        width:95%;
    }
    

}
