#add-new-form{
    margin-bottom:20px;
    padding-left:20px;
    
}

#add-new-form br{
	display:none;
}

#add-new{
    font-weight:bold;
    padding-left:10px;
    padding-top:8px;
}

#my-events{
    font-weight:bold;
    padding-left:10px;
    padding-top:8px;
}

#my-events-table{
    margin:10px;
    width:100%;
}

#count{
    font-weight:bold;
    margin:10px;
}


@media screen and (max-width: 640px) {

    #add-new-form br {
    	display: initial;
    }
    
    ﻿#add-new{
		margin-bottom:20px;
		
	}
    
    .textbox-add-new {
    	margin-bottom:8px;
    	margin-top:8px;
    	width:90%;
    }
    
    #button-add-new {
    	margin-bottom:8px;
    	margin-top:8px;
    	width:50%;
    }
    
    .content{
    	width: 90%;
    }
}
