@(title: String)(content: Html)

<!DOCTYPE html>

<!DOCTYPE html>
<head>
<meta charset="utf-8" />
<title>OnTime</title>
<link rel="stylesheet" type="text/css" href="@routes.Assets.at("stylesheets/main.css")">
</head>

<body>
<header>
<div class="navigationBar">
<div class="logo">OnTime</div>
<div class="menu">
<ul class="buttons">
<li><a href="http://kava.ee">Sign Up</a></li>   
<li><a href="http://kava.ee">Log In</a></li></ul></div>
</div>
</header>

<div class="content">

<div class="photo">
<div id="quote">Experience the ultimate timing!</div>
</div>
<br>
<div class="liveNow">
<div class="liveNowHeader"><div id="tekst">Live Now!</div></div>
<div class="liveNowBody">
<ul>
<li>Üritus1</li><br>
<li>Üritus2</li><br>
<li>Üritus3</li><br>
</ul>
</div>
</div>

</div>

<footer>
</footer>
</body>
</html>
