@(form: Form[Application.Login], formNewEvent: Form[EventsController.NewEvent], events: List[Event], user: User, eventCount: Integer)

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>OnTime</title>
    <link rel="stylesheet" type="text/css" href="@routes.Assets.at("stylesheets/main.css")">
    <link rel="stylesheet" type="text/css" href="@routes.Assets.at("stylesheets/popup.css")">
    <link rel="stylesheet" type="text/css" href="@routes.Assets.at("stylesheets/forms.css")">
	<link rel="stylesheet" type="text/css" href="@routes.Assets.at("stylesheets/elements.css")">
    <link rel="stylesheet" type="text/css" href="@routes.Assets.at("stylesheets/myevents.css")">

	<script src="http://code.jquery.com/jquery-1.9.1.js" type="text/javascript"></script>
	<script src="/assets/javascripts/login-popup.js" type="text/javascript" /></script>
	<script src="/assets/javascripts/myevents-min.js" type="text/javascript" /></script>
	<script src="/assets/javascripts/add-min.js" type="text/javascript" /></script>
</head>

<body>
    <header>
        
            @views.html.headerbar(form, user)
    </header>
    
    @views.html.popup(form)
    <div class="content">
        <div id="events-container">
            <div id="add-new-container">
            	@if(flash.contains("nonameEvent")) {
					<p>
						@flash.get("nonameEvent")
					</p>
				}
                <div class="panel">
                    <div class="panel-header new-header">
                        <div id="add-new">Add new event</div>
                    </div>
                    <div class="panel-body new-body">
                    	
                    	@helper.form(routes.EventsController.newEventFormSubmit, 'id -> "add-new-form") {
		                        <input class="textbox-add-new" type="text" name="title" placeholder="Event's name" /><br>
		                        <input class="textbox-add-new" type="text" name="date" placeholder="Date" /><br>
		                        <input id="button-add-new" type="submit" value="OK!">


                        }
                    </div>
                </div>
            </div>
            <br>
            <div id="my-events-container">
                <div class="panel">
                    <div class="panel-header events-header">
                        <div id="my-events">My Events</div>
                    </div>
                    <div class="panel-body events-body">
                    	<div id="count">Your total event count: @eventCount</div>
                        <table id="my-events-table">
                        	@events.map { event =>
		                        <tr data-event-id="@event.id">
		                            <td>@event.title</td>
		                            <td>@event.date</td>
		                            <td>@event.user.email</td>
		                        </tr>
		                    }
                        </table>
                    </div>
                </div>
            </div>
        </div>
	</div>

</body>
</html>
