@(tribe: models.game.Tribe, posx: Integer, posy: Integer, list: List[List[String]], i: Integer, form: Form[Application.Login], user: User)

﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>OnTime</title>
    <link rel="stylesheet" type="text/css" href="@routes.Assets.at("stylesheets/main.css")">
    <link rel="stylesheet" type="text/css" href="@routes.Assets.at("stylesheets/elements.css")">
    <link rel="stylesheet" type="text/css" href="@routes.Assets.at("stylesheets/grid.css")">
</head>

<body>
    <header>
        @views.html.headerbar(form, user)
    </header>
    
    @i

    <div class="content">
        <div id="grid-view-container">
            <table id="grid-view-table">
				@for( py <- 0 to 9){
            		<tr>
					@for( px <- 0 to 9){
						<td>
							<div class="box">
								<div class="inner-box">
									<img src="@list.get(px).get(py)"></img>
								</div>
								<div class="inner-box">
									@if(posx == px && posy == py){
										<img src="assets/images/game/tiles/tribe.png"></img>
									}
								</div>
							</div>
						</td>
					}
					</tr>
				}
            </table>
            <br>
            <div id="buttons-container">
                <div class="panel">
                    <div class="panel-header">
                        <div id="buttons">Buttons</div>
                    </div>
                    <div class="panel-body">
                      asd
                    </div>
                </div>
            </div>
            <br>
            <div id="buttons-container-2">
                <div class="panel">
                    <div class="panel-header">
                        <div id="buttons-2">Buttons 2</div>
                    </div>
                    <div class="panel-body">
                        asd
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
