@(tribeWarEvents: List[models.game.events.WarEvent], tribeEvents: List[models.game.events.SpecialEvent],tribeList: List[models.game.Tribe],tribe: models.game.Tribe, list: List[List[String]], form: Form[Application.Login], user: User)

﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>OnTime</title>
    <link rel="stylesheet" type="text/css" href="@routes.Assets.at("stylesheets/main.css")">
    <link rel="stylesheet" type="text/css" href="@routes.Assets.at("stylesheets/elements.css")">
    <link rel="stylesheet" type="text/css" href="@routes.Assets.at("stylesheets/grid.css")">
    
    	<script src="/assets/javascripts/chatsocket.js" type="text/javascript" /></script>
    	
</head>

<body>
    <header id="gHeader">
        @views.html.headerbar(form, user)
    </header>

    <div class="content">
        <div id="grid-view-container">
            <table id="grid-view-table">
				@for( py <- 0 to 9){
            		<tr>
					@for( px <- 0 to 9){
						<td>
							<a class="box" href="/game/@px/@py">
								<div class="inner-box">
									<img src="@list.get(px).get(py)"></img>
								</div>
								<div class="inner-box">
									@if(tribe.position.x == px && tribe.position.y == py){
										<img src="assets/images/game/tiles/m2ngija_p.png"></img>
									}
									@for(tribeB <- tribeList){
										@if(tribe.name != tribeB.name && tribeB.position.x == px && tribeB.position.y == py){
											<img src="assets/images/game/tiles/vaenlased_p.png"></img>
										}
									}
								</div>
							</a>
						</td>
					}
					</tr>
				}
            </table>
            <br>
            <div id="buttons-container">
                <div class="panel">
                    <div class="panel-header">
                        <div id="news-feed">Chat</div>
                    </div>
                    <div class="panel-body">
		                <div id="news-feed-body">
		                	<ul id="chatlist">
				            </ul>
						        @helper.form(routes.ChatController.chatSubmit(), 'id -> "add-new-form", 'target -> "frame") {
				                    <input class="textbox-add-new" type="text" name="text" placeholder="Text" /><br>
				                    <input id="button-add-new" type="submit" target="frame" value="OK!">
		                   		}
			   			</div>
                    </div>
                </div>
            </div>
            <br>
            <div id="buttons-container">
                <div class="panel">
                    <div class="panel-header">
                        <div id="news-feed">War news feed</div>
                    </div>
                    <div class="panel-body">
		                <div id="news-feed-body">
		                	<ul>
				            	@tribeWarEvents.map { event =>
								    <li>
								    	@event.text
								    </li>
								    <hr>
						        }
				            </ul>
			   			</div>
                    </div>
                </div>
            </div>
            <br>
            <div id="buttons-container">
                <div class="panel">
                    <div class="panel-header">
                        <div id="news-feed">News feed</div>
                    </div>
                    <div class="panel-body">
		                <div id="news-feed-body">
		                	<ul>
				            	@tribeEvents.map { event =>
								    <li>
								    	@event.text
								    </li>
								    <hr>
						        }
				            </ul>
			   			</div>
                    </div>
                </div>
            </div>
            <br>
            <div id="buttons-container-2">
                <div class="panel">
                    <div class="panel-header">
                        <div id="buttons-2">Tribe Attributes</div>
                    </div>
                    <div class="panel-body">
                    	<ul>
                    		<li>
                        		@tribe.name
                        	</li><li>
                        		People: @tribe.peopleAmount
                        	</li><li>
                        		Food left: @tribe.food
                        	</li><li>
                        		Fighting skill: @tribe.fighting
							</li><li>
                        		Fishing skill: @tribe.fishing
                        	</li><li>
                        		Hunting skill: @tribe.hunting
                        	</li><li>
                        		Tracking skill: @tribe.tracking
                        	</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <iframe name="frame"></iframe>
</body>
</html>
