<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>OnTime</title>
    <link rel="stylesheet" type="text/css" href="@routes.Assets.at(" stylesheets />main.css")">
    <link rel="stylesheet" type="text/css" href="@routes.Assets.at(" stylesheets />elements.css")">
    <link rel="stylesheet" type="text/css" href="@routes.Assets.at(" stylesheets />grid.css")">

</head>

<body>

    <header>
        @views.html.headerbar(form, user)
    </header>

    <div class="content">
        <div id="grid-view-container">

            <table id="grid-view-table">
                <tr>
                    <td>1</td>
                    <td>1</td>
                    <td>1</td>
                    <td>1</td>
                    <td>1</td>
                    <td>1</td>
                    <td>1</td>
                    <td>1</td>
                    <td>1</td>
                    <td>1</td>
                </tr>
                <tr>
                    <td>1</td>
                    <td>1</td>
                    <td>1</td>
                    <td>1</td>
                    <td>1</td>
                    <td>1</td>
                    <td>1</td>
                    <td>1</td>
                    <td>1</td>
                    <td>1</td>
                </tr>
                <tr>
                    <td>1</td>
                    <td>1</td>
                    <td>1</td>
                    <td>1</td>
                    <td>1</td>
                    <td>1</td>
                    <td>1</td>
                    <td>1</td>
                    <td>1</td>
                    <td>1</td>
                </tr>
                <tr>
                    <td>1</td>
                    <td>1</td>
                    <td>1</td>
                    <td>1</td>
                    <td>1</td>
                    <td>1</td>
                    <td>1</td>
                    <td>1</td>
                    <td>1</td>
                    <td>1</td>
                </tr>
                <tr>
                    <td>1</td>
                    <td>1</td>
                    <td>1</td>
                    <td>1</td>
                    <td>1</td>
                    <td>1</td>
                    <td>1</td>
                    <td>1</td>
                    <td>1</td>
                    <td>1</td>
                </tr>
                <tr>
                    <td>1</td>
                    <td>1</td>
                    <td>1</td>
                    <td>1</td>
                    <td>1</td>
                    <td>1</td>
                    <td>1</td>
                    <td>1</td>
                    <td>1</td>
                    <td>1</td>
                </tr>
            </table>

            <br>

            <div id="buttons-container">
                <div class="panel">
                    <div class="panel-header">
                        <div id="buttons">Buttons</div>
                    </div>
                    <div class="panel-body">
                      asd
                    </div>
                </div>
            </div>
            <br>
            <div id="buttons-container-2">
                <div class="panel">
                    <div class="panel-header">
                        <div id="buttons-2">Buttons 2</div>
                    </div>
                    <div class="panel-body">
                        asd
                    </div>
                </div>
            </div>
        </div>


    </div>

</body>
</html>