@(form: Form[Application.Login], user: User)
<div class="nav-bar-container">
            <div class="logo"><a href="/">TribalAge</a></div>
	<div class="nav-bar">
		<ul class="nav-bar-tabs">
		    
		    @if(user == null){
                <li><a href="/help">Help</a></li>
		    	<li><a href="register">Sign up</a></li>
		    	<li><a href="/login" class="popup_button">Log in</a>
                </li>
		    } else{
                <li><a href="/help">Help</a></li>
		    	<li><a href="@routes.Application.logout()">Log out</a></li>
		    }
		</ul>
	</div>
</div>

