@(redir: String, form: Form[Application.Login], user: User)

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>OnTime</title>
    <link rel="stylesheet" type="text/css" href="@routes.Assets.at("stylesheets/main.css")">
    <link rel="stylesheet" type="text/css" href="@routes.Assets.at("stylesheets/forms.css")">
    <link rel="stylesheet" type="text/css" href="@routes.Assets.at("stylesheets/login.css")">

</head>

<body>

    <header>
        @views.html.headerbar(form, user)
    </header>

    <div class="content">
    
        @helper.form(routes.Application.authenticate(redir)) {
        <div class="log-in-form-container">
        
		    @if(flash.contains("loginToPlay")) {
				<p>
					@flash.get("loginToPlay")
				</p>
			}
        
            <form id="sign-up-form">
                <input class="textbox" type="email" name="email" placeholder="E-mail" /><br>
                <input class="textbox" type="password" name="password" placeholder="Password" /><br>

                <input id="button" type="submit" value="Log in"> <br>

                <a href="twitter">
                    <img id="twitter-button-pic" src="/assets/images/twitter.png"><img>
                </a>

            </form>
        </div>

        }
    </div>

</body>
</html>
