@(tribes: List[models.game.Tribe],events: List[EventQuery], form: Form[Application.Login], user: User)(content: Html)

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>OnTime</title>
    <link rel="stylesheet" type="text/css" href="@routes.Assets.at("stylesheets/main.css")">
    <link rel="stylesheet" type="text/css" href="@routes.Assets.at("stylesheets/homepage.css")">
    <link rel="stylesheet" type="text/css" href="@routes.Assets.at("stylesheets/elements.css")">
    <link rel="stylesheet" type="text/css" href="@routes.Assets.at("stylesheets/popup.css")">

	<script src="https://code.jquery.com/jquery-1.9.1.js" type="text/javascript"></script>
	<script src="/assets/javascripts/login-popup.js" type="text/javascript" /></script>
	<script src="/assets/javascripts/recent-min.js" type="text/javascript" /></script>
	<script src="/assets/javascripts/live-min.js" type="text/javascript" /></script>
</head>

<body>
    <header>
        
            @views.html.headerbar(form, user)
    </header>
    
    @views.html.popup(form)

    <div class="content">
    	@if(user != null){
        		<p>Welcome, @user.name!</p>
        }
        @if(flash.contains("loginfail")) {
			<p>
				@flash.get("loginfail")
			</p>
		}
		@if(flash.contains("loginToPlay")) {
			<p>
				@flash.get("loginToPlay")
			</p>
		}
		<a href="/game">
		    <div class="photo-container">
		    	<div id="quote">Enter the game!</div>
		    </div>
        </a>
        <br>
     	<div id="tabs-container">
            <div id="live-now-container">
                <div class="panel">
                    <div class="panel-header live-header">
                        <div id="live-now">Hõimud praegu mängus!</div>
                    </div>
                    <div class="panel-body live-body">
                        <ul>
                            @tribes.map { tribe =>
		                        <li>
		                            @tribe.name
		                        </li>
		                    }
                        </ul>
                    </div>
                </div>
            </div>
            <br>
            <div id="latest-events-container">
                <div class="panel">
                    <div class="panel-header latest-header">
                        <div id="latest-events">Latest events</div>
                    </div>
                    <div class="panel-body latest-body">
                        <ul>
		                    @events.map { event =>
		                        <li>
		                            @event.title @event.date @event.korraldaja
		                        </li>
		                    }
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

</body>
</html>
