@(title: String)(content: Html)

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>OnTime</title>
    <link rel="stylesheet" type="text/css" href="@routes.Assets.at("stylesheets/main.css")">
    <link rel="stylesheet" type="text/css" href="@routes.Assets.at("stylesheets/homepage.css")">
    <link rel="stylesheet" type="text/css" href="@routes.Assets.at("stylesheets/elements.css")">
</head>

<body>
    <header>
        <div class="nav-bar-container">
            <div class="logo"><a href="#">OnTime</a></div>
            <div class="nav-bar">
                <ul class="nav-bar-tabs">
                    <li><a href="#">Sign up</a></li>
                    <li><a href="#">Log in</a></li>
                </ul>
            </div>
        </div>
    </header>

    <div class="content">
        <div class="photo-container">
        <div id="quote">Experience the ultimate timing!</div>
        </div>
        <br>
     
            <div id="live-now-container">
                <div class="panel">
                    <div class="panel-header">
                        <div id="live-now">LIVE NOW!</div>
                    </div>
                    <div class="panel-body">
                        <ul>
                            <li>üritus1</li>
                            <li>üritus2</li>
                        </ul>
                    </div>
                </div>
            </div>

            <div id="latest-events-container">
                <div class="panel">
                    <div class="panel-header">
                        <div id="latest-events">Latest events</div>
                    </div>
                    <div class="panel-body">
                        <ul>
                            <li>üritus3</li>
                            <li>üritus4</li>
                        </ul>
                    </div>
                </div>
            </div>
        
    </div>

</body>
</html>