@(events: List[Event], form: Form[Application.Login], user: User)(content: Html)

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>OnTime</title>
    <link rel="stylesheet" type="text/css" href="@routes.Assets.at("stylesheets/main.css")">
    <link rel="stylesheet" type="text/css" href="@routes.Assets.at("stylesheets/homepage.css")">
    <link rel="stylesheet" type="text/css" href="@routes.Assets.at("stylesheets/elements.css")">
    <link rel="stylesheet" type="text/css" href="@routes.Assets.at("stylesheets/popup.css")">

	<script src="http://code.jquery.com/jquery-1.9.1.js" type="text/javascript"></script>
	<script src="/assets/javascripts/login-popup.js" type="text/javascript" /></script>
	<script src="/assets/javascripts/recent-min.js" type="text/javascript" /></script>
	<script src="/assets/javascripts/live-min.js" type="text/javascript" /></script>
</head>

<body>
    <header>
        <div class="nav-bar-container">
            <div class="logo"><a href="#">OnTime</a></div>
            @views.html.headerbar(form, user)
        </div>
    </header>
    
    <!--Popup-->
        <div class="popup">
        	@if(form.hasGlobalErrors) {
				<p class="error">
					@form.globalError.message
				</p>
			}
        	<a href="#" class="sulge_popup">CLOSE</a>
        	@helper.form(routes.Application.authenticate) {
		        <form>
		        	<p><span class="popup_kiri">E-mail</span> <input name="email" type="email" value="@form("email").value" /></p>
		            <p><span class="popup_kiri">Password</span> <input name="password" type="password" /></p>
		            <p><input name="" type="submit" value="Login" /></p>
		        </form>
		    }
        </div>
    <!--Popup läbi-->

    <div class="content">
    	@if(user != null){
        		<p>Tere tulemast @user.name!</p>
        }
        <div class="photo-container">
        	<div id="quote">Experience the ultimate timing!</div>
        </div>
        <br>
     	<div id="tabs-container">
            <div id="live-now-container">
                <div class="panel">
                    <div class="panel-header live-header">
                        <div id="live-now">LIVE NOW!</div>
                    </div>
                    <div class="panel-body live-body">
                        <ul>
                            <li>üritus1</li>
                            <li>üritus2</li>
                        </ul>
                    </div>
                </div>
            </div>
            <br>
            <div id="latest-events-container">
                <div class="panel">
                    <div class="panel-header latest-header">
                        <div id="latest-events">Latest events</div>
                    </div>
                    <div class="panel-body latest-body">
                        <ul>
		                    @events.map { event =>
		                        <li data-event-id="@event.id">
		                            <a href="http://www.delfi.ee">@event.title @event.date</a>
		                        </li>
		                    }
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

</body>
</html>
