@(form: Form[Application.Login])

<!--Popup-->
        <div class="popup">
        	@if(form.hasGlobalErrors) {
				<p class="error">
					@form.globalError.message
				</p>
			}
        	
        	@helper.form(routes.Application.authenticate("#")) {
		        <div id="popup-heading">
		        	Log in
		        </div>
		        <form>
		        	<p><input class="textbox-popup" name="email" type="email" placeholder="E-mail" value="@form("email").value" /></p>
		            <p><input class="textbox-popup" name="password" placeholder="Password" type="password" /></p>
		            <div>
		            	<input class="button-popup" name="" type="submit" value="Login" />
		            	<input class="sulge_popup button-popup" type="button" value="Close" />
		            </div>
		            <div id="twitter">
		            	<a href="twitter">
		            		<img src="/assets/images/twitter.png"><img>
		            	</a>
		            </div>
		            
		        </form>
		    }
        </div>
    <!--Popup läbi-->
