@(form: Form[Application.Login], user: User)

﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>OnTime</title>
    <link rel="stylesheet" type="text/css" href="@routes.Assets.at(" stylesheets />main.css")">
    <link rel="stylesheet" type="text/css" href="@routes.Assets.at(" stylesheets />settings.css")">
    <link rel="stylesheet" type="text/css" href="@routes.Assets.at(" stylesheets />elements.css")">
</head>

<body>

    <header>
        @views.html.headerbar(form, user,"settings")
    </header>

    <div class="content">
        <div id="settings-container">
            <div id="general-settings-container">
                <div class="panel">
                    <div class="panel-header">
                        <div id="general-settings">General Settings</div>
                    </div>
                    <div class="panel-body">
                        <div class="general">
                            <form id="general-settings-form">
                                <input class="textbox-change-settings" type="text" name="company-name-set" value="Suusahullude OÜ" /><br>
                                <input class="textbox-change-settings" type="text" name="e-mail-set" value="pseudoemail@@hot.ee" /><br>
                                <input id="button-save-settings" type="submit" value="Save">
                            </form>
                        </div>
                    </div>
                </div>
                <br>
                <div class="panel">
                    <div class="panel-header">
                        <div id="password-settings">Change password</div>
                    </div>
                    <div class="panel-body">
                        <div class="password">
                            <form id="change-password-form">
                                <input class="textbox-change-settings" type="text" name="current-password" placeholder="Current password" /><br>
                                <input class="textbox-change-settings" type="text" name="new-password" placeholder="New passowrd" /><br>
                                <input class="textbox-change-settings" type="text" name="repead-new-password" placeholder="Repeat password" /><br>
                                <input id="button-change-password" type="submit" value="Comfirm">
                            </form>
                        </div>
                    </div>
                </div>                 
            </div>
        </div>   
    </div>
</body>
</html>
