@(formTwitter: Form[Application.TwitterLogin],form: Form[Application.Login], user: User)

﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>OnTime</title>
    <link rel="stylesheet" type="text/css" href="@routes.Assets.at("stylesheets/main.css")">
    <link rel="stylesheet" type="text/css" href="@routes.Assets.at("stylesheets/forms.css")">
    <link rel="stylesheet" type="text/css" href="@routes.Assets.at("stylesheets/twitter.css")">


</head>

<body>

    <header>
        @views.html.headerbar(form, user)
    </header>

    <div class="content">
        <div class="twitter-container">
        	@helper.form(routes.Application.twitterFormSubmit, 'id -> "twitter-form") {
                <span id="twitter-text">Palun sisesta twitteri kood siia:</span>
		            <input class="textbox" type="text" name="twitterCode" /><br>
		            <input id="button" type="submit" value="Submit">
            }
        </div>
    </div>
</body>
</html>
